@keyframes showAnim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@keyframes hideAnim {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.hide{
    animation: hideAnim 1s;
}
.hidden{
    display: none;
}
.show{
    animation: showAnim 1s ;
}

.swipeCard{
    transform: rotateY(360deg);
    transition: 1s;
}