.feedback-roundabout_container {
    display: flex;
    justify-content: center;
    transform: translateX(12.5%);
    transition: all .5s;
}

.feedback-roundabout_item {
    transform: scale(.8);
    opacity: .6;
    width: 636px;
    height: 350px;
    background-color: rgba(1, 138, 190, 1);
    margin: 0 25px;
    border-radius: 10px;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #Fff
}

.feedback-roundabout_item.active {
    opacity: 1;
    transform: scale(1);
}

.feedback-roundabout_item-title {
    font-family: 'Proxima Nova';
    font-size: 20px;
    margin-bottom: 20px;
}

.feedback-roundabout_item-text {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-size: 14px;
    line-height: 19.6px;
}

.feedback_title {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.feedback_title img {
    width: 28px;
    height: 14px;
}

.feedback_title h2 {
    margin: 0 45px;
    color: #fff;
}