footer {
    margin-top: 90px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

footer h4 {
    color: #FFF;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 14px;
}