#top{
    display: block;
    width: 100%;
    height: 1px;
}
#session{
    display: block;
    width: 100%;
        /* height: 5px; */
    margin-bottom: 90px;
}
#feedback {
    display: block;
    width: 100%;
    height: 5px;
margin-top: 10px;
}
#about {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    margin-bottom: 50px;
}
#price {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    
}