.rotate-container{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
    
}
.rotate-element{
    width: 100%;
    height: 100%;
    /* background-color: gray; */
    flex-direction: column;
    align-items: center;
    display: flex;
        justify-content: center;
}