

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/poxima_nova.ttf');
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.btn_primary {
    background-color: rgba(1, 138, 190, 1);
    color: #fff;
}

.btn_secondary {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(1, 138, 190, 1);
}

.header_block {
    font-family: 'El Messiri';
    font-weight: 700;
    font-size: 42px;
    line-height: 58.8px;
    color: #FFF;

}

body {
    background-color: rgba(22, 40, 49, 1);
    overflow: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1296px;
    margin: 0 auto;

}