@keyframes showAnim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@keyframes hideAnim {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fRotate {
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}
.hide{
    animation: hideAnim 1s;
}
.hidden{
    display: none;
}
[data-rotate]{
    transition: transform .1s;
}
.show{
    animation: showAnim 1s ;
}
.animation-container{
    transform-style: preserve-3d;
    perspective: 600px;
}

.full-rotate{
    animation: fRotate 1s;
}