@import url('./animation.css');
@import url('./main.css');
@import url('./session.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(22, 40, 49, 1);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgb(134, 134, 244);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.MessiriHight {
    font-family: 'El Messiri';
    font-weight: 700;
    color: #Fff;
}

.dFlex {
    display: flex;
    align-items: center;
}

.dFlex-column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main,
.session,
.feedback,
.about,
.price {
    height: 100vh;
}

.header-list {
    display: flex;
}










.feedback-roundabout_container{
    display: flex;
    justify-content: center;
    transform: translateX(12.5%);
    transition: all .5s;
}
.feedback-roundabout_item{
    transform: scale(.8);
    opacity: .6;
width: 636px;
    height: 350px;
    background-color: rgba(1, 138, 190, 1);
    margin: 0 25px;
    border-radius: 10px;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#Fff
}
.feedback-roundabout_item.active{
    opacity: 1;
    transform: scale(1);
}
.feedback-roundabout_item-title{
    font-family: 'Proxima Nova';
        font-size: 20px;
    margin-bottom: 20px;
}
.feedback-roundabout_item-text{
    font-family: 'Proxima Nova';
font-weight: 300;
    font-size: 14px;
        line-height: 19.6px;
}
.feedback_title{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.feedback_title img{
    width: 28px;
        height: 14px;
}
.feedback_title h2{
    margin: 0 45px;
    color: #fff;
}
.about {
    background-color: lightcoral;
}

.price {
    background-color: lightcyan;
}